<h1>Enter a new name for <%= @employee.name %>:</h1>

<form action="/employee/<%= @employee.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <input class="form-control" type="hidden" name="division_id" id="division_id" value="<%= @employee.division_id %>">
  <label for="name">Rename your employee:</label>
  <input id="name" name="name" type="text" placeholder="enter name here">

  <% if @projects %>
  <br>
  <label for="project">Assign a project:</label>
    <select class="form-control" name="projects">
      <% @projects.each do |project| %>
        <option value="<%=project.id%>"> <%=project.name%> </option>
      <% end %>
    </select>
  <% end %>

  <button type="submit" name="update">Update</button>
</form>
